* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    /* background-color: #f4f4f4; */
}

body {
    background-color: #d7d3d3;
    margin: 1.2rem 20%;
}

h1 {
    text-align: center;
    margin: 1.5em;
}

p {
    margin: 1.2em;
    word-wrap: break-word;
    width: 400px;
    text-align: center;


}

img {
    width: 100%;
    height: auto;
    margin-bottom: 4em;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    color: #2c2a2a;
    background-color: #e3e1e1;
    padding: 0.5em 1.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    
}

a:hover {
    background-color: #c7c5c5;
}

.c {
    margin : 15%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

